@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 200, 300, 400, 500;
    background-color: violet;
    margin: 0;
    display: flex;
}

.container{
    width: 570px;
    height: 730px;
    position: absolute;
    display: inline-block;
    border: 1px solid black;
    z-index: 1;
}

.cielo{
    background-color: aqua;
    width: 570px;
    height: 580px;
    position: absolute;
    z-index: 2;
}

.pavimento{
    width: 570px;
    height: 150px;
    background-color: black;
    position: absolute;
    top: 580px;
    z-index: 3;
}

.flappy{
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.ostacolo{
    background-color: green;
    width: 60px;
    height: 300px;
    bottom: 100px;
    position: absolute;
    z-index: 3;
}

.ostacolosopra {
    background-color: green;
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
    z-index: 3;
}

@keyframes slideright {
    from{
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
}

@-webkit-keyframes slideright{
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
}

.ground-container{
    height: 150px;
    width: 580px;
    left: 80px;
}

.ground-moving{
    position: absolute;
    top: 580px;
    height: 150px;
    width: 100%;
    background-color: black;
}

#gameOver-Text{
    font-style: bold;
    background-color: white;
    z-index: 99;
}

.gameover-buttons{
    width: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: white;
}

.gameover-buttons > a{
    text-decoration: none;
    color: black;
    background-color: white;
}

.gameover-buttons > a:hover{
    color: solid black;
    background-color: violet;
    border: 1px solid black;
}

#score{
    color: white;
    z-index: 5;
}